<app-header></app-header>


<div *ngIf="auth == true; then authenticaded else login"></div>
<ng-template #authenticaded>

    <app-toolbar
    ></app-toolbar> 
    <app-documents 
        [user]="user"
        [token]="token"
        [updateDocs] = "updateDocs"
        (documentId)="getId($event)"
        (reset)="resetAll($event)"
    ></app-documents>

    <app-editor
        (updated)="getContent($event)"
        (collectedDoc)="getCollectedDoc($event)"
        (reset)="resetAll($event)"
        [reset]="reset"
        [documentId]="documentId"
        [user]="user"
        [token]="token"
    ></app-editor>

    <app-users
        [documentId]="documentId"
        [reset]="reset"
        [token]="token"

    >
    </app-users>

</ng-template>

<ng-template #login>
    <app-form
    (auth)="getAuth($event)"
    >
    </app-form>

</ng-template>



