<app-header></app-header>


<div *ngIf="auth == true; then authenticaded else login"></div>
<ng-template #authenticaded>

    <app-toolbar
        [content]="content"
        [docToEdit] = "docToEdit"
        (resetEditor)="getResetDoc($event)"
    ></app-toolbar> 
    <app-documents 
        [content]="content"
        [docToEdit] = "docToEdit"
        [updateDocs] = "updateDocs"
        (documentId)="getId($event)"
        (resetEditor)="getResetDoc($event)"
    ></app-documents>

    <app-editor
        (updated)="getContent($event)"
        (updateDocs)="getUpdatedDocs($event)"
        (collectedDoc)="getCollectedDoc($event)"
        (resetEditor)="getResetDoc($event)"
        [resetEdit] = "resetEditor"
        [documentId]="documentId"
        [user]="user"
    ></app-editor>

    <app-users>

    </app-users>

</ng-template>

<ng-template #login>
    <app-form
    (auth)="getAuth($event)"
    >
    </app-form>

</ng-template>



