:host {
    color: black;
    font-size: 1em;
    border: 1px grey;
}

button {
    background-color: white;
    height: 3.5vh;
    width: 12vw;
    border-radius: 50px;
}

button:hover {
    background-color: rgb(172, 90, 23);
    color: white;
}