
<div>
    <form [formGroup]="titleForm" (ngSubmit)="createNewDoc()">
        <div class="required">      
            <label for="title">Titel:</label>
            <div class="alert" *ngIf="title.errors?.required">
                *
            </div> 
        </div>
        <input [formControl]="title" type="text" id="title">
        <div *ngIf="title.invalid && (title.dirty || title.touched)"
        class="alert">
            <div *ngIf="title.errors?.required">
                Du måste ange en titel
            </div>
            <div *ngIf="title.errors?.minlength">
                För kort titel, ange minst tre bokstäver 
              </div>
        </div>
        <input class="submit" [disabled]="!titleForm.valid" type="submit" value="Skapa nytt dokument">

    </form>

    <!-- <app-button 
        [btnText]="buttonText" 
        (btnClick)="createNew()" 
    >
    </app-button> -->

    <h2>Tillgängliga dokument</h2>
    <form>
        <div *ngFor="let item of documents; index as i">
              <input 
                (change)="onSelected($event)"
                [(ngModel)]="item.resetSelected"
                type="radio" 
                id="{{item._id}}" 
                name="i+1" 
                value="{{item._id}}"
                >
              <label for="html">{{item.title}}</label>
        </div>
    </form>
</div>
